<!-- <link type="text/css" rel="stylesheet" href="assets/css/dashboard.css"> -->


	
  <app-header></app-header>
  <div class="container_full">
      <app-sidebar></app-sidebar>
  
      <div class="content_wrapper">
          <div class="inner_main">
            <div class="full_width page_head">
                  <h2 class="page_title line45">Dashboard</h2>
              <div class="search_box">
                <input type="search" class="search_input" placeholder="Search...">
              </div>
            </div>
  
              <div class="full_width dashboard_main">
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="box">
                              <h3 class="box_title">Request</h3>
                              <div class="box_cnt content">
                                  <ul>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>Yesterday</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="box">
                              <h3 class="box_title">Contacts</h3>
                              <div class="box_cnt content">
                                  <ul>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">          
                                              <div class="pro_pic">                                            
                                                  <img src="assets/images/pro.jpg">                                            
                                              </div>                                        
                                              <div class="left_panel">
                                                  <div class="pro_cnt">
                                                      <h4 class="pro_name">Mark John</h4>
                                                      <p>You called ?</p>
                                                  </div>
                                                  <div class="timing">
                                                      <p>9:20 PM</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="box">
                              <h3 class="box_title">Messages</h3>
  
                              <div class="full_width">
                                  <h4 class="box_title">Today</h4>
                                  <div class="box_cnt sm_height content">
                                      <ul>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
  
                              <div class="full_width">
                                  <h4 class="box_title">Yesterday</h4>
                                  <div class="box_cnt sm_height content">
                                      <ul>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">          
                                                  <div class="pro_pic">                                            
                                                      <img src="assets/images/pro.jpg">                                            
                                                  </div>                                        
                                                  <div class="left_panel">
                                                      <div class="pro_cnt">
                                                          <h4 class="pro_name">Mark John</h4>
                                                          <p>You called ?</p>
                                                      </div>
                                                      <div class="timing">
                                                          <p>9:20 PM</p>
                                                      </div>
                                                  </div>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-sm-4">
                          <div class="box">
                              <h3 class="box_title">Summary</h3>
                              <div class="box_cnt summary_cnt">
                                  <ul>
                                      <li>
                                          <label class="summary_title">In the Past</label>
                                          <span class="summary_value">
                                              <select class="cm_select">
                                                  <option>Month</option>
                                                  <option>Week</option>
                                                  <option>Year</option>
                                              </select>
                                          </span>
                                      </li>
                                      <li>
                                          <label class="summary_title">Total Requests</label>
                                          <span class="summary_value">60</span>
                                      </li>
                                      <li>
                                          <label class="summary_title">Total Ignored</label>
                                          <span class="summary_value">4</span>
                                      </li>
                                      <li>
                                          <label class="summary_title">Total Connections</label>
                                          <span class="summary_value">52</span>
                                      </li>
                                      <li>
                                          <label class="summary_title">My Network Growth</label>
                                          <span class="summary_value">80</span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-sm-8">
                          <div class="box">
                              <h3 class="box_title">PixieLinks Best Practies</h3>
                              <div class="box_cnt practice_cnt content">
                                  <ul>
                                      <li>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                      </li>
  
                                      <li>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                      </li>
  
                                      <li>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                      </li>
  
                                      <li>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                      </li>   
  
                                      <li>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                      </li>
  
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>     
          </div>
      </div>
  
      <app-footer></app-footer>

  </div>
  