html, body {margin: 0; padding: 0; background: #f7f7f7;  font-family: 'Roboto', sans-serif;}
a, a:hover, a:focus {text-decoration: none;}
ul {list-style: none; margin: 0; padding: 0;}
ul li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}
th:focus, td:focus {outline: 0 none;}
input:hover, input:focus, textarea:hover, textarea:focus, button:hover, button:focus, .form-control:hover, .form-control:focus {outline: 0 none; box-shadow: none;}
img {max-width: 100%;}

.page_title {font-size: 26px; line-height: 70px; font-weight: 600; letter-spacing: 1px; float: left; color: #155576;}
.main-header {z-index:3; width: calc(100% - 270px); margin: 0; border: 0; padding: 10px 15px; filter: none; background:#fff; box-shadow:0 0 20px rgba(0,0,0,0.2); position: fixed; right: 0px; left:auto; top: 0px; min-height: 70px;}
.sidebar_head {float: left; width: 100%; padding: 15px;}
.logo {width: auto; float: left; text-align: left;}
.logo a {display: inline-block;}
.logo img {max-width: 100%; max-height:85px;}
.full_logo {display: none;}
.bar_icon {margin: 18px 0 0; font-size: 30px; color: #fff; line-height: 30px; cursor: pointer;}
.bar_icon img {width: 40px;}

.right_dropdown {width: auto; float: right; height: 70px; display: flex; align-items: center; position: relative;}
.right_dropdown a {color: #696969; font-size: 16px;}
.right_dropdown img {width:40px; height:40px; border-radius: 50%; object-fit: cover; margin-left: 15px;}

.drop_menu {position: absolute; right: 0; top: 80px; z-index:22; padding: 10px 15px; box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06); background: #fff; width: 160px; border-radius: 4px; transition: all 0.3s; border:1px solid #ccc; display: none;}
.opONE {transition: all 0.3s; display: inline-block;}
.drop_menu::before {position: absolute; content: ""; right: 10px; top: -8px; width: 0; height: 0; border-bottom:8px solid #ccc; border-left: 8px solid transparent; border-right: 8px solid transparent}
.drop_menu li {float: left; width: 100%; margin-bottom: 10px;}
.drop_menu li:last-child {margin-bottom: 0;}
.drop_menu li a {color: #696969; font-size: 15px; font-family: 'Poppins', sans-serif;}
.drop_menu li a i {margin-right: 8px;}

.container_full {margin-top: 91px; padding: 0px; float: left; width: 100%;}
.search_box {width: 250px; float: right;}
.search_input {width: 100%; float: left; border:1px solid #e5e9ec; padding: 0 10px 0 40px; height: 45px; line-height: 45px; background: #fff url('../images/icon-search.png') no-repeat left 10px center / 20px auto; border-radius: 4px; font-size: 14px;}

.search_input::-webkit-input-placeholder {color: #ccc;}
.search_input::-moz-placeholder {color: #ccc;}
.search_input:-ms-input-placeholder {color: #ccc;}
.search_input:-moz-placeholder {color: #ccc;}

.sidebar {position: fixed; top: 0; left: 0; padding-top:0; height: 100vh; width: 270px; background: linear-gradient(-180deg, #155576, #4a7a93); background-size: cover; padding-bottom: 20px; z-index:2;}
.menu {float: left; width: 100%; padding:25px 0;}
.menu li {float: left; width: 100%; margin-bottom:20px; position: relative;}
.menu li a {color: #fff; font-size:16px; display: block; text-transform: capitalize; letter-spacing: 1px; padding: 10px 15px; position: relative; font-family: 'Poppins', sans-serif; border-left: 4px solid transparent;}
.menu li a i {margin-right:8px; font-size: 22px;}
.badge {width: 30px; height: 30px; line-height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background: #fff; color:#323435; position: absolute; right: 15px; top: 7px; cursor: pointer; font-size: 14px; font-family: 'Poppins', sans-serif;}
.content_wrapper {margin-left: 270px; margin-right: 0px; position: relative; z-index:1; padding: 15px; float: left; width: calc(100% - 270px);}
.inner_main {float: left; width: 100%; padding: 15px;}
.menu li.active a {background: #f4a939 url('../images/menu_hover.png') no-repeat left center / 100% 100%; border-left-color: #f4a939;}

/* Full Width */
.navSmall .content_wrapper, .navSmall .main-header, .navSmall .footer_section {width: calc(100% - 70px); margin-left: 70px;}
.navSmall .sidebar {width: 70px;}
.navSmall .menu_txt, .navSmall .badge, .navSmall .reg_logo {display: none;}
.navSmall .full_logo {display: inline-block;}
.navSmall .sidebar_head {padding: 15px 5px 0;}
.navSmall .bar_icon {width: 100%; text-align: center;}

.full_width {width: 100% !important; float: left;}
.box {position: relative; margin: 0 0 30px 0; background-color: #ffffff; border-radius: 3px; border: none; box-shadow: 0 1px 3px 0px rgba(115, 108, 203, 0.23); float: left; width: 100%;}
.box_title {font-size: 18px; text-transform: capitalize; padding: 10px 15px; border-bottom: 1px solid #e5e9ec; color: #53505f; text-align: left; line-height: 1.5;}
.box_cnt {float: left; width: 100%; padding: 20px 15px; height: 450px;}
.box_cnt li {float: left; width: 100%; position: relative;}
.box_cnt li:last-child .left_panel {margin-bottom: 0; padding-bottom:10px; border-bottom: 0;}
.left_panel {float: left; width: calc(100% - 60px); border-bottom: 1px solid #e5e9ec; margin: 0 0 20px 60px; padding: 0 80px 20px 0;}
.pro_pic {width: 50px; height: 50px; float: left; margin-right: 0; position: absolute;}
.pro_pic img {width: 100%; object-fit: cover; height: 50px; border-radius: 50%;}
.pro_cnt {float: left; width: 100%; margin: 0;}
.pro_name {font-size: 16px; line-height: 18px; text-transform: capitalize; color: #101010; margin-bottom:5px; text-align: left;}
.pro_cnt p {font-size: 14px; color: #999; margin: 0; line-height: 1.5;}
.timing {position: absolute; right: 0; top: 0;}
.timing p {font-size: 12px; color: #999; margin: 0; text-transform: uppercase; line-height: 1.5;}
.sm_height {height: 183px;}
.practice_cnt li {position: relative; padding-left: 15px;}
.practice_cnt li::before {width: 6px; height: 6px; background: #53505f; border-radius: 50%; position: absolute; content: ""; left: 0; top: 8px;}
.practice_cnt p {font-size: 14px; line-height: 24px; color: #53505f;}

.summary_cnt li {margin-bottom: 15px;}
.summary_cnt .select2 {width: 100px !important;}
.summary_cnt .select2-container .select2-selection--single {outline: 0 none;}
.summary_title {width: 48%; margin: 0 2% 0 0; float: left; font-size: 14px; color: #969696; line-height:30px;}
.summary_value {width: 50%; float: left; font-size: 14px; line-height: 30px; color: #53505f; }

.footer_section {float: left; width: calc(100% - 270px); margin-left: 270px; padding: 15px; background: #fff; border-top: 1px solid #e5e9ec;}
.footer_box {float: left; width: 100%;}
.footer_title {font-size: 15px; margin-bottom:5px; padding-bottom:5px; border-bottom: 1px solid #e5e9ec;}
.footer_box ul {float: left; width: 100%;}
.footer_box ul li {float: left; width: 100%; margin-bottom:0px; line-height: 1.5;}
.footer_box ul li a {font-size: 13px; text-transform: capitalize; font-family: 'Poppins', sans-serif; color: #717171;  display: inline-block;}
.copy_txt {margin:10px 0 0 0; padding:10px 0 0 0; border-top: 1px solid #e5e9ec; float: left; width: 100%; text-align: center; font-size: 13px; color: #999; letter-spacing: 0.2px; line-height: 1.5;}

.min-height {min-height: 600px;}
.auto_height {height: auto;}
.mrgtop30 {margin-top: 30px;}
.mrgbtm15 {margin-bottom: 15px !important;}
.padLR00 {padding-left: 0 !important; padding-right: 0;}
.padTB00 {padding-top: 0 !important; padding-bottom: 0 !important;}
.pad15 {padding: 15px;}
.border00 {border:0;}
.w200 {width: 200px !important;}
.w300 {width: 300px !important;}
.CMshadow {box-shadow: 0 0 3px 0px rgba(115, 108, 203, 0.5) !important;}
.line45 {line-height: 45px !important;}
.w100 {width: 100% !important;}

.page_head {margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #e5e9ec;}
.bottom_btn {position: absolute; bottom: 30px; left: 0; right: 0; margin: 0 auto; display: table; width: 100%; text-align: center;}
.cs_btn {width: auto; padding: 0 30px; height: 50px; line-height: 50px; background: #f4a939; text-transform: capitalize; font-size: 18px; color: #fff; box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25); display: inline-block;     font-weight: 400; border-radius: .25rem;}
.cs_btn:hover {color: #fff;}
.cs_btn:focus {box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);}
iframe {width: 100%; height: 345px;}

.author_pic {width: 140px; height: 140px; margin-bottom: 15px; position: relative;}
.author_pic img {width: 100%; height: 140px; object-fit: cover; border-radius: 50%;}
.author_nickname {float: left; width: 100%;}
.author_nickname li {float: left; width: 100%; margin-bottom: 20px;}
.author_nickname li ul li {margin-bottom: 3px;}
.author_nickname .summary_title, .author_nickname .summary_value {width: 100%; line-height: 22px; font-size: 15px;}

/* Radio Button */
.custom_radio {display: inline-block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #969696;}
.custom_radio input {position: absolute; opacity: 0; cursor: pointer; left: 0; top: 0; width: 25px; height: 25px; border-radius: 50%;}
.custom_radio .checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; border-radius: 50%;}
.custom_radio:hover input ~ .checkmark {background-color: #ccc;}
.custom_radio input:checked ~ .checkmark {background-color: #155576;}
.custom_radio .checkmark::after {content: ""; position: absolute; display: none;}
.custom_radio input:checked ~ .checkmark::after {display: block;}
.custom_radio .checkmark::after {top: 8px; left: 8px; width: 9px; height: 9px; border-radius: 50%; background: white;}

/* Checkbox */
.custom_check {display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 16px; line-height: 38px; margin: 0; -webkit-user-select: none; -moz-user-select: none; ms-user-select: none; user-select: none; width: auto !important;}
.custom_check input {position: absolute; opacity: 0; cursor: pointer; top: 6px; left: 0; width: 25px; height: 25px;}
.custom_check .checkmark {position: absolute; top: 6px; left: 0; height: 25px; width: 25px; background-color: #eee; border-radius: 2px;}
.custom_check:hover input ~ .checkmark {background-color: #ccc;}
.custom_check input:checked ~ .checkmark {background-color: #155576;}
.custom_check .checkmark::after {content: ""; position: absolute; display: none;}
.custom_check input:checked ~ .checkmark::after {display: block;}
.custom_check .checkmark::after {left: 9px; top: 3px; width: 8px; height: 15px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

.form-group {float: left; width: 100%;}
.form-group label {float: left; width: 100%; margin-bottom: 0; font-size: 14px; color: #969696; line-height: 1.5}
.form-control {border: 1px solid #e5e9ec; float: left;}
.form-control:focus {border-color:#e5e9ec}
.w95 {width: 92%;}
.w25 {width: 23%; margin-right: 2%;}
.mandatory {float: left; margin: 7px 0 7px 10px;}

/* Switch Button */
.switch_main {width: 100%; float: left; padding: 10px 0;}
.switch_txt {float: left; margin-right: 20px; line-height: 38px;}
.switch {position: relative; float: left; display: inline-block; width: 60px !important; height: 30px; margin: 4px 20px 4px 0 !important;}
.switch input {display:none;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #488aff; -webkit-transition: .4s; transition: .4s;}
.slider::before {position: absolute; content: ""; height: 24px; width: 24px; left: 4px; bottom: 3px; background-color: #fff; -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background-color: #c8dcff;}
input:checked + .slider::before {background-color: #fff;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider::before {-webkit-transform: translateX(28px); -ms-transform: translateX(28px); transform: translateX(28px);}
.slider.round {border-radius: 34px;}
.slider.round::before {border-radius: 50%;}
.switch-txt {font-size: 11px; line-height: 30px; text-transform: uppercase; font-weight: 600;}
.off {padding-right: 7px; color: #fff;}
.on {padding-left: 5px; color: #000;}

.edit_icon {position: absolute; z-index: 1; right: 0; width: 30px; line-height: 30px; text-align: center; background: #f4a939; color: #fff; border-radius: 3px;}
.edit_icon:hover {color: #fff;}
.custom_check a {text-decoration: underline; color: #969696;}

/* Select 2 */
.select2 {width: 100% !important;}
.select2-container .select2-selection--single {height: 38px; outline: 0 none;}
.select2-container--default .select2-selection--single {border: 1px solid #e5e9ec;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 36px;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 36px;}
sup {color: red;}

/* Datatable */
.sort-icon {position: relative; display: inline-block; width: 15px; height: 17px; top: 4px; }
.sort-icon::before {position: absolute; content: ""; top: 2px; right: 0; border-bottom: 5px solid #929297; border-left: 5px solid transparent; border-right: 5px solid transparent; width: 10px; height: 3px;}
.sort-icon::after {position: absolute; content: ""; bottom: 0; right: 0; border-top: 5px solid #929297; border-left: 5px solid transparent; border-right: 5px solid transparent; width: 10px; height: 8px;}
.sorting_asc .sort-icon::before {opacity: 0.5;}
.sorting_desc .sort-icon::after {opacity: 0.5;}

.tbl_main .container-fluid {padding: 0;}
table.dataTable .custom_check .checkmark, table.dataTable .custom_check input {top: 0;}
table.dataTable th {border: 0 !important; color: #939498; background: rgba(242, 242, 242, 0.4); padding: 10px; font-size: 13px; line-height: 17px; font-weight: bold; letter-spacing: 0.9px; text-transform: uppercase; box-shadow: inset 0 -1px 0 0 #6C6C6C;}
table.dataTable td {font-size: 14px; line-height: 22px; padding: 8px; background: #fff; color: #282931;}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {padding-right: 10px;}
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {display: none;}

/* Upload File Design */
.custom_btn {width: 100%; float: left;}
.file-upload {display:inline-block; text-align:center; font-size:16px; }
.file-upload .file-select {display:block; border: 2px solid #353435; color: #353435; cursor:pointer; height:44px; line-height:42px; text-align:left; background:#FFFFFF; overflow:hidden; position:relative; border-radius: 4px;}
.file-upload .file-select .file-select-button{background:#353435;padding:0 10px;display:inline-block;height:42px;line-height:42px; color: #fff;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.csv_btn {margin: 20px 0 0 0 !important;}

.upload_img {float: left; width: 100%; margin-bottom: 20px;}
.upload_img img {height: 250px; object-fit: cover; width: 100%;}
.datepickerCL {background: url('../images/icon-calendar.png') no-repeat right 10px center / 30px 30px ; padding-right: 50px;}

/* Popup */
.modal {text-align: center; padding: 0!important;}
.modal::before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px;}
.modal-dialog {display: inline-block; text-align: left; vertical-align: middle;}
.modal-backdrop.show {opacity: .8;}
.preview_pop .modal-dialog {max-width: 750px; width: 100%;}
.preview_pop .modal-header {border-bottom: 0;}
.preview_pop .modal-body {padding: 15px 15px 60px 15px;}
.popup_screen {width: 100%; float: left; text-align: center; margin: 0 auto; position: relative; display: table;}
.popup_screen > img {max-height: 600px; position: relative; z-index: 9;}
.popup_cnt {position: absolute; top: 0; padding: 40px 25px 30px; height: 100%; max-width: 295px; margin: 0 auto; left: 0; right: 0; background: #fff; border-radius: 40px;}
.popup_cnt > img {max-height: 60px; margin-top: 20px;}
.popup_cnt h4 {font-size: 20px; margin: 25px 0;}
.sale_img {float: left; width: 100%; margin-bottom: 25px;}
.pos_rel {position: relative; z-index: 9; float: left; width: 100%;}

/* Accordian */
.setting_main .card-header {padding:0; margin-bottom: 0; background-color: transparent; border-bottom: 0; cursor: pointer;}
.setting_main .box_title {display: inline-block; margin: 0; width:100%; line-height: 1.5}
.setting_main .card-body {-ms-flex: inherit; flex:inherit; padding: 0; float: left; width: 100%;}
.setting_main .card-header::after {font-family: 'Font Awesome\ 5 Free'; content: "\f068";float: right; font-weight: 900; position: absolute; right: 15px; top: 10px;}
.setting_main .card-header.collapsed::after {content: "\f067";}
.check_input {width: calc(100% - 40px); margin-left: 40px;}

@media(max-width: 1600px) {
	.req_DT_inner .author_pic {width: 80px; height: 80px;}
	.req_DT_inner .author_pic img {height: 80px;}
	.cam_DT_inner .upload_img img {height: 150px;}
	.w200 {width: 150px !important;}
	.w300 {width: 220px !important;}
	.cs_btn {height: 40px; line-height: 40px; font-size: 15px; padding: 0 10px;}
}
@media(max-width: 1279px) {
	.dashboard_main .col-sm-4 {flex: auto; max-width: 100%; width: 100%;}
	.summary_cnt {height: auto;}
	.dashboard_main .col-sm-8 {flex: auto; max-width: 100%; width: 100%;}
	.min-height {min-height: auto;}
	.bottom_btn {margin: 20px auto 30px; position: relative; bottom: 0;}
	.req_DT_inner .col-sm-2 {flex: auto; max-width: 100%; width: 33.33%;}
	.req_DT_inner .col-sm-5 {flex: auto; max-width: 100%; width: 66.66%;}
	.req_DT_inner .col-sm-5:nth-child(3) {flex: auto; max-width: 100%; width: 100%;}
	.cam_DT_inner .upload_img {float: none; width: 150px; margin: 0 auto 20px;}
	.cam_DT_inner .col-sm-4, .cam_DT_inner .col-sm-3, .cam_DT_inner .col-sm-5 {flex: auto; max-width: 100%; width: 100%;}	
}
@media(max-width: 1130px) {
	.setting_main .col-sm-6 {flex: auto; max-width: 100%; width: 100%;}
	.setting_main .pro_pic_box .col-sm-6  {flex: auto; max-width: 100%; width: 50%;}
}
@media(max-width: 1023px) {
	.footer_section .col-sm-3 {flex: 50%; max-width: 50%; margin-bottom: 30px;}
	.copy_txt {margin-top: 0;}	
}