<div class="sidebar">
  <div class="sidebar_head">
      <div class="logo">
          <a href="#">
            <img class="reg_logo" src="assets/images/logo.png">
            <img class="full_logo" src="assets/images/logo-icon.png">
          </a>
      </div>
      <div class="bar_icon float-right">
        <img src="assets/images/menu.png">
      </div>
  </div>

    <div class="menu">
        <ul>
            <!-- <li routerLinkActive="active"><a routerLink="/dashboard" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i> <span class="menu_txt">Dashboard</span></a></li>  -->
            <li routerLinkActive="active" tooltip="dashboard" placement="right"><a routerLink="/dashboard" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i> <span class="menu_txt">Dashboard</span></a></li>
            <li tooltip="Requests" placement="right"><a href="javascript:void(0);"><i class="fas fa-hand-peace"></i> <span class="menu_txt">Requests</span></a> <span class="badge">11</span></li>
            <li tooltip="Contacts" placement="right"><a href="javascript:void(0);"><i class="fas fa-users"></i> <span class="menu_txt">Contacts</span></a> <span class="badge">65</span></li>
            <li tooltip="Message" placement="right"><a href="javascript:void(0);"><i class="far fa-comments"></i> <span class="menu_txt">Message</span></a> <span class="badge">24</span></li>
            <li tooltip="Featured Events" placement="right"><a href="javascript:void(0);"><i class="far fa-calendar-alt"></i> <span class="menu_txt">Featured Events</span></a> <span class="badge">2</span></li>
            <li tooltip="Campaign" placement="right"><a href="javascript:void(0);"><i class="far fa-calendar-alt"></i> <span class="menu_txt">Campaign</span></a> <span class="badge">2</span></li>
            <li routerLinkActive="active" tooltip="Settings" placement="right"><a routerLink="/setting" href="javascript:void(0);"><i class="fas fa-cog"></i> <span class="menu_txt">Settings</span></a></li>
        </ul>
    </div>
</div>