<body class="login_bg">
  <div class="login_main_cls">
      <div class="login_main_cls_inner">
          <div class="left_login_part ad_hEight">
              <div class="left_login_part_inner">
                <div class="logo_login_main">
                    <a routerLink="/index"><img src="../../../assets/images/logo.png"></a>
                </div>

                <div class="forgot_form">
                    <form>
                      <div class="login_box_mnc_inner">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="group">      
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Email</label>
                            </div>							  
                        </div>							
                        <div class="col-sm-12">
                          <div class="form-group">
                              <input type="submit" value="SEND" class="form_brntn">
                          </div>
                        </div>

                        <div class="col-sm-12">
                          <div class="form-group mrg00">                            
                            <a class="back_btn" routerLink="/login" href="javascript:void(0)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Login</a>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </form>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
