<div class="wrap">
  <header>
      <div class="logo"><a href="#"><img src="../../assets/images/home/logo.png"></a></div>
      <ul class="right-menu">
          <li><a routerLink="/register" class="links">Register for free</a></li>
          <li><a routerLink="/login" class="links">sign in</a></li>
      </ul>
  </header>
  <div class="banner_part">
      <div class="image">
          <img class="reg_img" src="../../assets/images/home/banner_hero_image.png">
          <img class="mobile_img" src="../../assets/images/home/mobile-banner.png">
      </div>
      <div class="section_main">
          <div class="container">
              <div class="fl_w">
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="slide"><img src="../../assets/images/home/phonex.png"></div>
                      </div>
                      <div class="col-sm-8">
                          <h2>What is Lorem Ipsum?</h2>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                              a galley of type and scrambled it to make a type specimen book. It has survived not only
                              five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                          <ul>
                              <li><a href="#"><img src="../../assets/images/home/appstore.png"></a></li>
                              <li><a href="#"><img src="../../assets/images/home/playstore.png"></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="vide_content">
      <h3>Connecting People with Ease</h3>
      <div class="line"><img src="../../assets/images/home/line.png"></div>
      <p>How does the Magic work?</p>
      <div class="full">
          <div class="row">
              <div class="col-sm-6">
                  <div class="card">
                      <h4>We’re all about the Intro !</h4>
                      <p><img src="../../assets/images/home/ConnectingHandsBannerAnnSM4c.gif"></p>
                      <p class="sort_des">It is as simple as waving your phone. “hello!”. and get connect to</p>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="video">
                      <video id="myVideo" controls="controls" onclick="this.play()" poster="../../assets/images/NewFriends.png">
                          <source src="../../assets/images/PixieIntro_1080p.mp4" type="video/mp4">
                      </video>
                  </div>
              </div>
          </div>
      </div>
      <div class="fullx">
          <a href="javascript:void(0);" class="links">Try PIXIE FOR BUSiness</a>
      </div>
  </div>

  <div class="vide_content testimonial">
      <h3>What Our Users are Saying</h3>
      <div class="line"><img src="../../assets/images/home/line.png"></div>
      <div class="container1">
          <div id="demos" class="testi_inner">
              <div class="owl-carousel owl-theme testi_slider">
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testi_box">
                          <div class="testi_img">
                              <img src="../../assets/images/home/avatar.png">
                          </div>
                          <div class="testi_head">
                              <h5>Alex Hale</h5>
                              <h5>CEO of Revo</h5>
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever....</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <footer>
      <div class="container">
          <div class="footer_full">
              <ul class="mnhjk">
                  <li><a href="#">home</a></li>
                  <li><a href="#">retailers</a></li>
                  <li><a href="#">event promters</a></li>
                  <li><a href="#">terms & conditions</a></li>
                  <li><a href="#">about us</a></li>
                  <li><a href="#">contact us</a></li>
              </ul>
              <ul class="social">
                  <li><a href="#"><img src="../../assets/images/home/f.png"></a></li>
                  <li><a href="#"><img src="../../assets/images/home/t.png"></a></li>
                  <li><a href="#"><img src="../../assets/images/home/i.png"></a></li>
                  <li><a href="#"><img src="../../assets/images/home/g.png"></a></li>
              </ul>
              <p>Copyright© All Rights Reserved. 2018 PixieFX Inc.</p>
          </div>
      </div>
  </footer>