<div class="footer_section">
  <div class="inner_main padTB00">
  <div class="row">
    <div class="col-sm-3">
        <div class="footer_box">
            <h3 class="footer_title">PixieLinks</h3>
            <ul>
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">Plan</a></li>
                <li><a routerLink="/termsuse" href="javascript:void(0);">Terms of Use</a></li>
                <li><a href="#">Partners</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="footer_box">
            <h3 class="footer_title">Supports</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Best Practices</a></li>
                <li><a href="#">Help Center</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="footer_box">
            <h3 class="footer_title">Pixie for Business</h3>
            <ul>
                <li><a href="#">Event Managers</a></li>
                <li><a href="#">Small Business</a></li>
                <li><a href="#">Non-Profits</a></li>
                <li><a href="#">Special Events</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="footer_box">
            <h3 class="footer_title">Company</h3>
            <ul>
                <li><a href="#">Press</a></li>
                <li><a href="#">Leadership Team</a></li>
                <li><a href="#">Work For Us</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
      <p class="copy_txt">Copyright© All Rights Reserved. 2018 PixieFX Inc.</p>
    </div>
  </div>
</div>
</div>